<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicefeels.nicealarms" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/clock_light"
        android:label="Nice Alarms"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Nice Alarms"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".Alarm" />

        <activity android:name=".Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HowTo"
            android:label="@string/title_activity_how_to" >
        </activity>
        <service android:enabled="true"
                 android:name = ".AlarmService"
                 android:label ="@string/app_name"/>

        <service android:enabled="true"
                 android:name = ".AlarmIntentService"
                 android:label ="@string/app_name"/>


        <receiver android:name=".AlarmBroadcast"></receiver>
    </application>

</manifest>
